<!DOCTYPE html>
<html>
    <head>
        <title>sam morris</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="static/index.js" defer></script>
        <link rel="stylesheet" href="static/index.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body>
        <div class="centered-container">
            <h1 class="header">hi, i'm sam morris</h1>
            <div><ul class="ordered-list" id="stream-container"></ul></div>
            <div class="gradient-overlay"></div>
            <input class='input-box' type="text" id="input-box" placeholder="ask me anything">
        </div>
    </body>
</html>
