<!DOCTYPE html>
<html>
    <head>
        <title>sam morris</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="static/index.js" defer></script>
        <link rel="stylesheet" href="static/index.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body>
        <h1>hi, i'm sam morris</h1>
        <ul>
            {% for message in messages %}
                <li class="{{ message.role }}">{{ message.content }}</li>
            {% endfor %}
        </ul>
        <div class="pill-container">
            {% for pill in pills %}
                <p class="pill">{{ pill }}</p>
            {% endfor %}
        </div>
        <div class="input-container">
            <input id="inputBox" class="growing-input" type="text" placeholder="ask me anything">
            <span id="textWidthCalculator" class="hidden"></span>
        </div>
    </body>
</html>
