<!DOCTYPE html>
<html>
    <head>
        <title>HTML Streaming Example</title>
    </head>
    <body>
        <h1>Streaming HTML Content</h1>
        <div id="stream-container"></div>
        <script>
            const eventSource = new EventSource('/stream');
            const container = document.getElementById('stream-container');
            eventSource.onmessage = function(event) {
                if (event.data === 'STOP'){
                    eventSource.close();
                } else {
                    container.innerHTML = event.data;
                }
            };
        </script>
        <style>
            body{
                font-family: 'Inter', sans-serif;
                font-weight: normal;
                font-style: normal;
            }
        </style>
    </body>
</html>
