
h1 {
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 48px;
    display: inline;
}

.title-spacer {
    padding: 10px;
}

.nameblue {
    color: blue;
    display: inline;
}

.attribution-link {
    text-decoration: none;
    color: #ccc;
    padding-right: 5px;
}
.attribution-link:hover .attribution-link:focus {
    color: grey;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-right: 2px;
    color: #ccc;
    transition: fill 0.3s ease;
    text-decoration: none;
}
.icon:hover {
    color: blue;
}
.icons-container {
    margin-left: 20px;
    display: inline;
}

.disclaimer {
    margin: 0 0 0 20px;
    font-size: 12px;
    color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
}
@media screen and (max-height: 690px) {
    .disclaimer {
        position: relative;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 712px) {
    .disclaimer {
      position: relative;
      margin: 0;
      padding: 0;
    }
    body {
        text-align: center;
        margin: 0;
    }
    .icons-container {
        display: block;
        margin-top: 10px;
    }
    li {
        text-align: left;
    }
    .inline {
        text-align: left;
    }
  }

/*Add cool font*/
body, input {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.messages-container {
    width: 95%;
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}
ul li::marker {
    color: grey;
}

/* WebKit-based browsers (Chrome, Safari) */
.messages-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}
.messages-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
  border-radius: 10px; /* Roundness of the track */
}
.messages-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
  border: 2px solid #f1f1f1; /* Space around the scrollbar handle */
}
.messages-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}
/* Firefox */
.messages-container {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* Scroll thumb and track */
}

.input-container {
    display: inline-block;
    margin-left: -2px;
}

.growing-input {
    width: 2ch; /* Initial width to fit at least one character */
    min-width: 170px; /* Minimum width of the input */
    padding: 8px;
    box-sizing: border-box;
    transition: width 0.2s ease-out; /* Smooth transition for width change */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px 20px;
    margin-right: 2px;
}

.pill-container {
    display: flex;
    margin-top: 10px;
}

.pill {
    border: grey 2px solid;
    color: grey;
    padding: 5px;
    border-radius: 5px;
    width: auto;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pill:hover {
    background-color: blue; /* Change the background color on hover */
    color: white; /* Optional: Change the text color on hover for better contrast */
}
.pill-disabled:hover, .pill-disabled {
    background-color: lightgrey;
    color: grey;
    cursor: auto;
}

.hidden {
    visibility: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
}

.submit-button {
    background-color: white;
    color: grey;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    margin: 0;
    cursor: pointer;
}

.submit-button:hover {
    background-color: blue; /* Change the background color on hover */
    color: white; /* Optional: Change the text color on hover for better contrast */
}

.submit-button-disabled:hover, .submit-button-disabled {
    background-color: lightgrey;
    color: grey;
    cursor: auto;
}

.inline {
    display: inline;
}